@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <input id="InputA" type="number" />
        +
        <input id="InputB" type="number" />
        =
        <span id="sum"></span>

        <button id="calculate">Calculate on server</button>
    </div>
    <div>
        <span id="status"></span>
    </div>
</div>
